.custom-class {

    text-align: center;
}

.hidden {
    display: none;
}

.uploadData {
    cursor: pointer;
}

.uploadData:hover {
    color: grey;
    border: 1px solid grey;

}

.post-listing{
    width: 570px;
}