<hr class="my-2" style="color: rgb(139, 138, 138);">
<h6 class="text-center mt-2" style="font-size: 17px;">Are you sure you want to delete this Category?</h6>
<div class="text-center p-2 m-2">
    <button mat-raised-button id="model-cancel-button" class="btn btn-primary m-4" (click)="deleteCategoryManagement()">Confirm</button>
    <button mat-raised-button id="model-cancel-button" class="btn btn-danger m-4" (click)="closeModel()">Cancel</button>    
</div>

<hr class="my-2" style="color: rgb(139, 138, 138);">
