<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1">Menu</span>
  </div>
</div>

<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
      <i class="fa-solid fa-table-columns"></i>
    </span>
    <span class="menu-title" data-link="/dashboard/dashboard-ui" routerLinkActive="active"
      routerLink="/dashboard/dashboard-list">Dashboard</span>
  </span>
</div>
<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
      <i class="fa-solid fa-users"></i>
    </span>
    <span class="menu-title" data-link="/users/users-list" routerLinkActive="active"
      routerLink="/users/users-list">Users</span>
  </span>
</div>
<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
      <i class="fa-solid fa-bell"></i>
    </span>
    <span class="menu-title" data-link="/notifications/notifications-list" routerLinkActive="active"
      routerLink="/notifications/notifications-list">Notifications</span>
  </span>
</div>
<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
      <i class="fa-solid fa-list-check"></i>
    </span>
    <span class="menu-title" data-link="/category-management/category-management-list" routerLinkActive="active"
      routerLink="/category-management/category-management-list">Category Management</span>
  </span>
</div>
<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
      <i class="fa-sharp fa-solid fa-calendar-days"></i>
    </span>
    <span class="menu-title" data-link="/reports/reports-list" routerLinkActive="active"
      routerLink="/reports/reports-list">Reports</span>
  </span>
</div>
<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
      <i class="fa-solid fa-image"></i>
    </span>
    <span class="menu-title" data-link="/banners/banners-list" routerLinkActive="active"
      routerLink="/banners/banners-list">Banners</span>
  </span>
</div>
<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
      <i class="fa-solid fa-message"></i>
    </span>
    <span class="menu-title" data-link="/notification/notification-list" routerLinkActive="active"
      routerLink="/notification/notification-list">Notification</span>
  </span>
</div>
<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
      <i class="fa-solid fa-gear"></i>
    </span>
    <span class="menu-title" data-link="/app-settings/app-settings-list" routerLinkActive="active"
      routerLink="/app-settings/app-settings-list">App Settings</span>
  </span>
</div>

<!-- <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
   
      <i class="fa-solid fa-user"></i>
    </span>
    <span class="menu-title" data-link="/urvu/urvu-users" routerLinkActive="active" routerLink="/urvu/urvu-users">Users</span>
  </span>
</div>
<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
   
      <i class="fa-solid fa-file"></i>
    </span>
    <span class="menu-title" data-link="/urvu/topics" routerLinkActive="active"
      routerLink="/urvu/topics">Topics</span>
  </span>
</div>
<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
   
        <i class="fa-solid fa-lightbulb"></i>
    </span>
    <span class="menu-title" data-link="/urvu/plans" routerLinkActive="active" routerLink="/urvu/plans">Plans</span>
  </span>
</div>
<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
     
      <i class="fa-solid fa-plus"></i>
    </span>
    <span class="menu-title"
      data-link="/urvu/create-coupon" routerLinkActive="active"
      routerLink="/urvu/create-coupon">Create Coupon</span>
  </span>
</div>
<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
    
      <i class="fa-solid fa-handshake"></i>
    </span>
    <span class="menu-title"
      data-link="/urvu/support-request" routerLinkActive="active"
      routerLink="/urvu/support-request">Support Request</span>
  </span>
</div>
<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon">
    <i class="fa-solid fa-gear"></i>
    </span>
    <span class="menu-title"
      data-link="/urvu/app-settings" routerLinkActive="active" routerLink="/urvu/app-settings">App
      Settings</span>
  </span>
</div> -->

<div class="menu-item">
  <div class="menu-content">
    <div class="separator mx-1 my-4"></div>
  </div>
</div>